<div class="container">
    <img src="/assets/pc.ico" alt="pc_icon" style="height: 80%; margin-top: 5px; margin-left: 5px;">
    <a class="brand" routerLink="/" >PCman</a>
    <a style="flex: 1 1 auto"></a>
    <a class="link bs" routerLink="/login" *ngIf="!isAuthenticated">Login</a>
    <a class="link bs" routerLink="/register" *ngIf="!isAuthenticated">Signup</a>
    <a class="link bs" routerLink="/computers/add-computer" *ngIf="isAuthenticated">Add Computer</a>
    <a class="link bs" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
</div>